<form class="giftform">
    <div class="mb-3">
        <label for="gift" class="form-label">Add Gift</label>
        <input type="text" class="form-control" id="gift" placeholder="Gift">
    </div>
    <button id="giftButton" type="submit" class="btn btn-primary" data-recipient_id="{{id}}">Submit</button>
    <div class="load-wrapp hide">
        <div class="load-5">
            <div class="ring-2">
                <div class="ball-holder">
                    <div class="ball"></div>
                </div>
            </div>
        </div>
    </div>
</form>