<form class="giftform col-lg-8 mx-auto vertAlign">
    <div class="mb-3">
        <label for="gift" class="form-label">Add Gift</label>
        <input type="text" class="form-control" id="gift" placeholder="Gift">
    </div>
    <button id="giftButton" type="submit" class="btn btn-primary btn-lg btn-block homeBttn accountBttn"
        data-recipient_id="{{id}}">Submit</button>
</form>
<div class="loadingDiv col-sm-2 mx-auto">
    <div class="load-wrapp hide loader"></div>
</div>