<form class="occasionform col-lg-8 mx-auto vertAlign">
    <div class="mb-3">
        <label for="newoccasion" class="form-label">New Occasion</label>
        <input type="text" id="occasion" class="form-control" placeholder="What's the occasion?">
    </div>
    <div class="mb-3">
        <input type="date" id="date" class="form-control" placeholder="When's the occasion?">
    </div>
    <div class="mb-3">
        <input type="text" id="location" class="form-control" placeholder="Where's the occasion?">
    </div>
    <button id="occasionbutton" type="submit" class="btn btn-primary btn-lg btn-block homeBttn accountBttn">Submit</button>
</form>