<form class="recipientform">
    <div class="mb-3">
        <label for="recipient" class="form-label">Add Recipient</label>
        <input type="text" class="form-control" id="recipient" placeholder="Recipient">
    </div>
    <button id="recipientButton" type="submit" class="btn btn-primary" data-occasion_id="{{id}}">Submit</button>
</form>