<form class="recipientform col-lg-8 mx-auto vertAlign">
    <div class="mb-3">
        <label for="recipient" class="form-label">Add Recipient</label>
        <input type="text" class="form-control" id="recipient" placeholder="Recipient">
    </div>
    <button id="recipientButton" type="submit" class="btn btn-primary btn-lg btn-block homeBttn accountBttn" data-occasion_id="{{id}}">Submit</button>
</form>