<form class="signupform col-lg-8 mx-auto vertAlign">

  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="mb-3">
    <label for="name" class="form-label">Username</label>
    <input type="text" class="form-control" id="name">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password">
  </div>
  <a class="btn btn-primary btn-lg btn-block homeBttn accountBttn" href="/signup" role="button" id="signupButton" type="submit">Create your account!</a>
</form>