* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Golos Text', sans-serif;
    background-color: #071E22;
    color: rgba(255, 255, 255, 0.803)
}

.navigationbar {
    background-color: #071722 !important;
    display: flex;
    justify-content: space-between;
}

.addoccasion,
.addrecipient,
.addgift {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5vh;
    height: 2.5vh;
    margin: 1vw;
    padding: 5px;
    border-radius: 10%;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.827);
    border: 1px solid rgba(255, 255, 255, 0.694);
}

.addoccasion:hover,
.addrecipient:hover,
.addgift:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.adddiv {
    display: flex;
    align-items: center;
}

.adddiv>p {
    margin: 1vw;
}

.occassioncard {
    background-color: #ffffff0c !important;
    margin: 0 15px;
    padding: 15px;
}

.occasiondetails,
.recipientdetails {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.occasiondetails>h1,
.occasiondetails>h4 {
    padding-right: 15px;
}

.recipientcard {
    background-color: #ffffff02 !important;
    padding: 15px;
}

.gifts {
    background-color: #ffffff02 !important;
    padding: 15px;
}

.gift {
    display: flex;
    padding: 15px;
}

p,
h1,
h2,
h3,
h4 {
    margin: 0;
}

.loginform,
.signupform,
.occasionform,
.recipientform,
.giftform {
    display: flex;
    flex-direction: column;
    width: 15%;
    margin: 15px;
}

.loginform>button,
.signupform>button,
.occasionform>button,
.recipientform>button,
.giftform>button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.edit {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.edit>button {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.827);
    border: 1px solid rgba(0, 0, 0, 0);
    margin-left: 15px;
}

.edit>button:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.hide {
    opacity: 0;
}



/* IGNORE */
.load-wrapp {
    position: absolute;
    top: 14vh;
    left: 6vw;
    float: left;
    width: 100px;
    height: 100px;
    margin: 0 10px 10px 0;
    padding: 20px 20px 20px;
    border-radius: 5px;
    text-align: center;
}

.load-wrapp p {
    padding: 0 0 20px;
}

.load-wrapp:last-child {
    margin-right: 0;
}

.line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #4b9cdb;
}

.ring-1 {
    width: 10px;
    height: 10px;
    margin: 0 auto;
    padding: 10px;
    border: 7px dashed #4b9cdb;
    border-radius: 100%;
}

.ring-2 {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 0 auto;
    border: 4px solid #4b9cdb;
    border-radius: 100%;
}

.ball-holder {
    position: absolute;
    width: 12px;
    height: 45px;
    left: 17px;
    top: 0px;
}

.ball {
    position: absolute;
    top: -11px;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: #4282b3;
}

.letter-holder {
    padding: 16px;
}

.letter {
    float: left;
    font-size: 14px;
    color: #777;
}

.square {
    width: 12px;
    height: 12px;
    border-radius: 4px;
    background-color: #4b9cdb;
}

.spinner {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 0 auto;
}

.bubble-1,
.bubble-2 {
    position: absolute;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #4b9cdb;
}

.bubble-2 {
    top: auto;
    bottom: 0;
}


/* =Animate the stuff
  ------------------------ */

.load-5 .ball-holder {
    animation: loadingE 1.3s linear infinite;
}

.l-5 {
    animation-delay: 0.96s;
}


@keyframes loadingA {
    0% {
        height: 15px;
    }

    50% {
        height: 35px;
    }

    100% {
        height: 15px;
    }
}

@keyframes loadingB {
    0% {
        width: 15px;
    }

    50% {
        width: 35px;
    }

    100% {
        width: 15px;
    }
}

@keyframes loadingC {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes loadingD {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loadingE {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loadingF {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes loadingG {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    50% {
        transform: translate(70px, 0) rotate(360deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

@keyframes loadingH {
    0% {
        width: 15px;
    }

    50% {
        width: 35px;
        padding: 4px;
    }

    100% {
        width: 15px;
    }
}

@keyframes loadingI {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

@keyframes loadingJ {

    0%,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(80px, 0);
        background-color: #f5634a;
        width: 25px;
    }
}