* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Golos Text', sans-serif;
    background-color: #071E22;
    color: rgba(255, 255, 255, 0.803)
}

.navigationbar {
    background-color: #071722 !important;
    display: flex;
    justify-content: space-between;
}

.addoccasion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5vh;
    height: 2.5vh;
    margin: 1vw;
    padding: 5px;
    border-radius: 10%;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.827);
    border: 1px solid rgba(255, 255, 255, 0.694);
}

.addoccasion:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.adddiv {
    display: flex;
    align-items: center;
}

.adddiv>p {
    margin: 1vw;
}

.occassioncard {
    background-color: #ffffff0c !important;
    margin: 0 15px;
    padding: 15px;
}

.occasiondetails {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.occasiondetails>h1,
.occasiondetails>h4 {
    padding-right: 15px;
}

.recipientcard {
    background-color: #ffffff02 !important;
    padding: 15px;
}

.gifts {
    background-color: #ffffff02 !important;
    padding: 15px;
}

.gift {
    padding: 15px;
}

p,
h1,
h2,
h3,
h4 {
    margin: 0;
}